* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  width: "100%";
  min-height: 100vh;
  background-image: url("./assets/fondo-enlaces.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-image: fill 0 linear-gradient("#0003, #000");
  position: relative;
}
